@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%; 
    background-image: url("santakinator\ updated.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  .halfroom {
    height: 100%;
    width: 50%;
    display: flex;
    margin-left: 50%;
  }
  
  .card {
    border: 8px solid green;
    border-radius: 22px;
    width: 62.5%;
    height: 78.5%;
    margin: auto;
    margin-left: 24.5%;
    margin-top: 11%; 
    background-color: rgb(156, 221, 156, 0.6); /*find better green*/
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .q {
    display: flex;
    align-items: center;
    font-size: 300%;
    height: 30%;
    width: 80%;
    margin: auto;
    margin-top: 8%;
    font-family: 'Mountains of Christmas', cursive;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  
  .choices {
    font-size: 150%;
    margin:auto;
    margin-top: 8%;
    line-height: 1.6;
    font-family: 'Emilys Candy', cursive;
    letter-spacing: 2px;
  }
  
  .submit-btn {
    font-family: 'Snowburst One', cursive;
    font-weight: bold;
    font-size: 150%;
    background-color: rgb(156, 221, 156); 
    padding: 3% 5%;
    border-radius: 13px;
    border: 1px solid black;
    margin: auto;
    margin-top: 7%; 
  }
  
  .tracker-btn {
    font-family: 'Snowburst One', cursive;
    font-size: 110%;
    font-weight: bold;
    background-color: rgb(156, 221, 156); 
    padding: 4.5% 4% 3% 4%;
    border-radius: 13px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%; 
    margin-left: 3%;
  }
  
  .submit-btn:hover {
    cursor: pointer;
  }
  
  .tracker-btn:hover {
    cursor: pointer;
  }

  .q-new {
    display: flex;
    align-items: center;
    font-size: 175%;
    height: 40%;
    width: 93%;
    margin: auto;
    margin-top: 8%;
    font-family: 'Mountains of Christmas', cursive;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .rtitle {
    font-size: 220%;
    width: 96%;
  }

  .rtext {
    margin-top: 4%;
    margin-bottom: 6%;
    line-height: .9;
    font-size: 180%;
    font-family: 'Emilys Candy', cursive;
    letter-spacing: 2px;
    width: 100%;
  }


  .s1 {
    width: 3%;
    transform: translate(1840%, 1170%);
    position: absolute;
  }

  .s1:hover {
    cursor:pointer;
  }

  .s2 {
    width: 3%;
    transform: translate(1635%, 1050%);
    position: absolute;
  }

  .s2:hover {
    cursor:pointer;
  }

  .s3 {
    width: 3%;
    transform: translate(1750%, 1110%);
    position: absolute;
  }

  .s3:hover {
    cursor:pointer;
  }


  .back-btn {
    font-family: 'Snowburst One', cursive;
    font-weight: bold;
    font-size: 120%;
    padding: 0.5% 1%; 
    margin: 1%;
    background-color: rgb(156, 221, 156); 
    border-radius: 13px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: 1.5%;
    margin-top: 1.5%;
    position: absolute;
  }

  .back-btn:hover {
      cursor: pointer;
  }
