@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

/* font-weight: light 300, regular 400, medium 500, semibold 600 */

/* TO DO LIST */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Emilys Candy', cursive;
    background-image: url("wintersnow.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  } 
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* padding-top: 50px; */
    height: 100vh;
    font-family: 'Emilys Candy', cursive;
  }
  
  .app {
    width: 60%;
  }
  
  .app h1 { /* my gift tracker */
    color: black;
    font-size: 40px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border-radius: .5rem .5rem 0 0;
    background-color: #39A2DB; 
    font-family: 'Emilys Candy', cursive;
  }
  
  .app form { 
    display: flex;
    width: 100%;
    background-color: #39A2DB;
  }
  
  .app form input { /* input gifts text box */
    border: none;
    background-color: #A2DBFA;
    font-size: 18px;
    color: #544C4A;
    padding: 10px;
    width: 90%;
  }
  
  .app form button {
    border: none;
    color: white;
    background-color: #544f4f;
    font-size: 35px;
    font-weight: 600;
    height: 42px;
    width: 10%;
  }
  
  .app ul {
    list-style: none;
    color: #e0e0e0;
    padding: 0;
  }
  
  .app ul li { /* lines underneath the tasks */
    padding: 10px;
    background-color: #EFFFFD;
    border-bottom: 1px solid #42C2FF;
  }
  
  .check {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
    border-radius: 30%;
    background-color: #42C2FF;
    border: 1px solid rgb(255, 255, 255);
      -webkit-appearance: none;
  }
  
  .check:checked {
    background-color: #1dd2af;
  }
  
  .task {
    font-size: 18px;
    padding: 0 10px;
    width: 95%;
    background: #EFFFFD;
    border: none;
    color: #4d4c4c;
  }
  
  .task:focus {
    outline: none;
  }
  
  .app ul li i {
    float: right;
    cursor: pointer;
    color:#7d7d7d;
  }
  
  .app ul li i:hover {
    color: rgb(255, 82, 82);
  }
  
  .completed {
    color: rgba(176, 176, 176, 0.8);
    text-decoration: line-through;
  }
    
.desc {
    font-size: 50%;
    font-family: 'Emilys Candy', cursive;
    letter-spacing: 1px;
}

.back-btn {
    font-family: 'Snowburst One', cursive;
    font-weight: bold;
    font-size: 120%;
    padding: 0.5% 1%; 
    margin: 1%;
    background-color: rgb(156, 221, 156); 
    border-radius: 13px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: 1.5%;
    margin-top: 1.5%;
  }

  .back-btn:hover {
      cursor: pointer;
  }